---
import Main from '../layouts/Main.astro';
import CounterReact from '../components/CounterReact.jsx';
import CounterPublisherReactStore from '../components/CounterPublisherReactStore';
import CounterReaderReactStore from '../components/CounterReaderReactStore';
---

<Main title='Counter'>
  <p>
    This is a simple counter that increments every second. It demonstrates how
    to use Astro's reactivity features.
  </p>
  <CounterReact client:visible />

  <br />
  <p>This counter is a publisher for a counter</p>
  <CounterPublisherReactStore client:visible />

  <br />
  <p>
    This counter is a subscriber to the publisher above. It will update whenever
    the publisher updates.
  </p>
  <CounterReaderReactStore client:visible />
</Main>
